* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}

:root {
    --biru: #2041BB;
    --abu: #c4c4c4;
}

.bg-biru {
    background-color: var(--biru);
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 40px;
    background-color: white;
    font-weight: 700;
    transition: .3s all;
}

.btn-login:hover {
    background-color: rgba(255, 255, 255, .7);
}

/* -------------- */
#header {
    background-color: var(--biru);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header-text {
    font-size: 64px;
    color: white;
    font-weight: 800;
}

.header-sub {
    font-size: 18px;
    color: white;
    position: relative;
    top: 20px;
    color: #FFFFFFBF;
}

/* lowongan */
.lowongan-card {
    background-color: white;
    width: 100%;
    padding: 24px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.lowongan-card:hover {
    color: rgba(0, 0, 0, 1);
}

.lowongan-nama {
    font-size: 24px;
    color: #2041BB;
    font-weight: 700;
    margin-top: 20px;
}

.alamat-pt {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
}

ul {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* box */
.box {
    background-color: white;
    width: 100%;
    padding: 24px;
    border-radius: 12px;
}

.nama {
    font-size: 36px;
    font-weight: 800;
}

.personal-info {
    margin: 10px 0px;
    font-size: 18px;
}

.box-prestasi {
    background-color: #f5f5f5;
    border-radius: 12px;
    margin-top: 10px;
    padding: 0;
    width: 200px;
    overflow: hidden;
    margin-right: 10px;
}

.text-prestasi {
    padding-left: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

.kirim-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 180px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px !important;
    margin-top: 30px;
}









/* footer */
#footer {
    padding-bottom: 30px;
    background-color: white;
}

.footer-title {
    font-size: 18px;
}

.footer-text {
    font-size: 16px;
}

.footer {
    margin-bottom: 100px;
}

/* ---------------------------- */
@media only screen and (min-width: 768px) {
    .btn-login {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        width: 100px;
        height: 40px;
        background-color: white;
        font-weight: 700;
        transition: .3s all;
    }

    .header-text {
        font-size: 96px;
    }

    .header-sub {
        font-size: 24px;
    }
}